body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Common */

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Header */

.page-header {
  background-color: #f3f7f9;
}

.page-header__topbar {
  color: white;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.page-header__company-logo {
  margin: 0;
  font-size: 22px;
  line-height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
}

.page-header__search,
.page-header__bookmarks,
.page-header__cart,
.page-header__order {
  margin: 0;
}

.page-header__order {
  font-size: 17px;
  background-color: #63a63e;
}

.page-header__description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.page-header__company-info .company-info__phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
}

.page-header__company-info .company-info__address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.page-header__user {
  font-size: 21px;
  line-height: 21px;
}

.page-header__user a {
  color: black;
  background-color: white;
}

.page-header__topbar a,
.page-header__header-navbar a {
  color: white;
}

.page-header__header-navbar {
  color: white;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.header-navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main */

.page-content__company-services {
  background-color: #f3f7f9;
}

.page-footer,
.page-footer__bottom-bar,
.page-footer a {
  color: white;
}

.popular-products__list,
.popular-manufacturers__list,
.page-footer__footer-navbar-top,
.page-footer__footer-navbar-bottom,
.page-footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__site-developer {
  margin: 0;
}

.tools-slide__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.tools-slide__description {
  font-size: 18px;
  line-height: 24px;
}

.popular-sections__materials-section {
  background-color: #ffbf47;
}

.popular-sections__tools-section {
  background-color: #3bbce3;
}

.popular-sections__equipment-section {
  background-color: #dc91d8;
}

.popular-sections__discounts-section {
  background-color: #8ed78f;
}

.popular-sections__shipment-section {
  background-color: #ffc047;
}

.materials-section__title,
.tools-section__title,
.equipment-section__title,
.discounts-section__title,
.shipment-section__title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.popular-sections__materials-section a,
.popular-sections__tools-section a,
.popular-sections__equipment-section a,
.popular-sections__discounts-section a,
.popular-sections__shipment-section a {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.popular-products__title,
.popular-manufacturers__title,
.company-services__title,
.company-desc__title,
.company-contacts__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products__top-bar,
.popular-manufacturers__top-bar {
  background-color: #f9f5f0;
}

.popular-products__title,
.popular-manufacturers__title {
  color: #32425c;
}

.tools-slider__link,
.popular-products__button,
.popular-manufacturers__button,
.services-slide__button,
.company-desc__button,
.company-contacts__button {
  color: white;
  background-color: #ee3643;
}

.product__title {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product__old-price {
  color: #a9a9a9;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product__new-price {
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

/* Footer */

.page-footer {
  background-color: #32425c;
}

.page-footer__company-logo {
  font-size: 30px;
  line-height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-transform: uppercase;
}

.page-footer__footer-navbar-top,
.page-footer__footer-navbar-bottom {
  font-size: 18px;
  line-height: 24px;
}

.page-footer__footer-navbar-top a {
  color: #f1f5f7;
}

.page-footer__bottom-bar {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.page-footer__company-info .company-info__address,
.page-footer__company-info .company-info__phone {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.page-footer__footer-navbar-bottom a,
.page-footer__feedback a,
.page-footer__site-developer a {
  color: #ffd180;
}

.socials__item {
  background-color: #212a3a;
}
