body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Common */

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}

.button--red {
  color: white;
  background-color: #ee3643;
}

.button--white {
  color: black;
  background-color: white;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.button--red:hover {
  background-color: #ca2c37;
}

.button--red:active {
  background-color: #ba2732;
}

/* Header */

.page-header {
  background-color: #f3f7f9;
}

.page-header__topbar {
  color: white;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.page-header__company-logo {
  margin: 0;
  font-size: 22px;
  line-height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
  cursor: pointer;
}

.page-header__company-logo:hover {
  background-color: #ca2c37;
}

.page-header__company-logo:active {
  background-color: #ba2732;
}

.search__input {
  color: white;
  background-color: #293449;
  border-style: none;
}

.search__input:hover {
  background-color: #212a3a;
}

.search__input:active {
  background-color: #212a3a;
}

.search__input::placeholder {
  color: white;
}

.search__input:focus {
  color: black;
  background-color: white;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.cart__link--has-items {
  background-color: #ee3643;
}

.page-header__search:hover,
.page-header__bookmarks:hover,
.page-header__cart:hover,
.page-header__order:hover {
  background-color: #212a3a;
}

.page-header__bookmarks:active,
.page-header__cart:active {
  background-color: #161d29;
}

.order__link {
  font-size: 17px;
  background-color: #63a63e;
}

.order__link:hover {
  background-color: #5fbb2d;
}

.order__link:active {
  opacity: 0.5;
  background-color: #518534;
}

.page-header__search,
.page-header__bookmarks,
.page-header__cart,
.page-header__order {
  margin: 0;
}

.page-header__description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.page-header__company-info .company-info__phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
}

.page-header__company-info .company-info__address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.page-header__user {
  font-size: 21px;
  line-height: 21px;
}

.page-header__user a:active {
  color: black;
  opacity: 0.3;
}

.login__link,
.signup__link,
.username__link,
.logout__link {
  color: black;
  background-color: white;
}

.login__link:hover,
.signup__link:hover,
.user-orders__link:hover,
.user-account__link:hover {
  color: #ee3643;
}

.user div {
  background-color: white;
}

.user-orders__link,
.user-account__link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.page-header__topbar a,
.page-header__header-navbar a {
  color: white;
}

.page-header__header-navbar {
  color: white;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.header-navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar__item:hover {
  background-color: #293449;
}

.header-navbar__link:active {
  opacity: 0.5;
  background-color: #1d2739;
}

/* Main */

.company-desc__title,
.company-contacts__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-desc__description,
.company-contacts__description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company-desc__transport-company-list {
  font-size: 18px;
  line-height: 20px;
}

.page-content__breadcrumbs {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.page-content__breadcrumbs a {
  color: black;
}

.page-content__header {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.page-content__product-filters {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  list-style: none;
}

.page-content__product-filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-content__product-filters li {
  font-size: 15px;
  line-height: 20px;
}

.page-content__product-filters fieldset {
  border: 0;
}

.page-content__product-filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.price-filter__range-input {
  font-size: 17px;
  line-height: 18px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.catalog__product {
  border: 1px solid #e5e5e5;
}

.catalog__product:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product__title {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product__old-price {
  color: #a9a9a9;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product__new-price {
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.product__buttons {
  font-family: "Cuprum", Arial, sans-serif;
}

.product__button-buy {
  color: white;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

.product__button-buy:hover {
  background-color: #5fbb2d;
}

.product__button-buy:active {
  box-shadow: none;
  background-color: #518534;
}

.product__button-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: white;
}

.product__button-bookmarks:hover {
  border: 3px solid #32425c;
}

.product__button-bookmarks:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

/* Footer */

.page-footer {
  background-color: #32425c;
  color: white;
}

.page-footer a {
  color: white;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer a:active {
  text-decoration: none;
  opacity: 0.5;
}

.page-footer__company-logo {
  font-size: 30px;
  line-height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-transform: uppercase;
  cursor: pointer;
}

.page-footer__company-logo:hover {
  background-color: #ca2c37;
}

.page-footer__company-logo:active {
  background-color: #ba2732;
}

.page-footer__company-logo a:hover {
  text-decoration: none;
}

.page-footer__company-logo a:active {
  opacity: 1;
}

.page-footer__footer-navbar-top,
.page-footer__footer-navbar-bottom {
  font-size: 18px;
  line-height: 24px;
}

.page-footer__footer-navbar-top a {
  color: #f1f5f7;
}

.page-footer__bottom-bar {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.page-footer__company-info .company-info__address,
.page-footer__company-info .company-info__phone {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.page-footer__footer-navbar-bottom a,
.page-footer__feedback a,
.page-footer__site-developer a {
  color: #ffd180;
}

.socials__item {
  background-color: #212a3a;
}

.socials__item:hover,
.socials__item:active {
  background-color: #ee3643;
}

.socials__item a:hover,
.socials__item a:active {
  text-decoration: none;
  background-color: #ee3643;
  opacity: 1;
}

.page-footer__footer-navbar-top,
.page-footer__footer-navbar-bottom,
.page-footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__site-developer {
  margin: 0;
}

.page-footer__feedback a:active,
.page-footer__site-developer a:active {
  text-decoration: none;
  color: #ee3643;
  opacity: 1;
}
